body{
    background-color: black;
    color: white;
}
h1 {
    display: flex;
    justify-content: center;
}
p {
    display: flex;
    justify-content: center;
}
#flexbox-row, #flexbox-column, #css-layout{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
   border: 1px dashed white;
 padding: 50px;
 margin: 20px;
}
.card-header {
    border: 5px solid white;
    border-radius: 10px;
    margin: -10px;
    position:absolute; 

}

@media screen and (max-width: 980px) {
    body {
      background-color: lightgreen;
    }
  }

  @media screen and (max-width: 680px) {
    body {
      background-color: lightgreen;
    }
  }