body{
    background-color: black;
    color: white;
}
#flexbox-row, #flexbox-column, #css-layout{
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    width: 300px;
    height: 100px;
   border: 1px dashed white;
 padding: 50px;
 margin: 20px;
}

section h2 {
    border: 1px;;
}
section{
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 980px) {
    body {
      background-color: lightgreen;
    }
  }

  @media screen and (max-width: 680px) {
    body {
      background-color: lightgreen;
    }
  }